.header {
    background-color: #f5f5f5;
    padding: 3em 0;
    margin-bottom: 3em;
}

.buttons {
    padding: 3em 3em;
}

  svg {
    width: 1em;
    height: 1em;
  }

.error_text {
  font-size: 0.89rem !important; 
  color: #f44336 !important;
}