{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{{ endpoint }}" method="post">
    <h4>
        {{ title }}
    </h4>



    <div class="col s12 m6 offset-m3 l4 offset-l4 card-panel">
        {% if email_error %}
            <label class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong" data-success="right">{{email_error}}</label>
            <br/>
            {% endif %}
            <div class="row">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" required placeholder="someone@email.com" value="" />
            </div>

            {% if crossover_rate_error or mutation_rate_error %}
                <div class="row">
                    <div class="input-field col s6">
                        {% if mutation_rate_error %}
                            <div>
                                <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
                                    data-success="right">{{mutation_rate_error}}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="input-field col s6">
                        {% if crossover_rate_error %}
                            <div>
                                <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
                                    data-success="right">{{crossover_rate_error}}</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="input-field col s6">
                    <label for="mutation_rate">Mutation Rate</label>
                    <input placeholder="Mutation Rate" step="0.0000000000000001" id="mutation_rate" name="mutation_rate" type="number" />
                </div>

                <div class="input-field col s6">
                    <input placeholder="Crossover Rate" step="0.0000000000000001" id="crossover_rate" name="crossover_rate" type="text" />
                    <label for="crossover_rate">Crossover Rate</label>
                </div>
            </div>
            {% if population_size_error or generations_error %}
                <div class="row">
                    <div class="input-field col s6">
                        {% if generations_error %}
                        <div>
                            <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
                                data-success="right">{{generations_error}}</span>
                        </div>
                        {% endif %}
                    </div>

                    <div class="input-field col s6">
                        {% if population_size_error %}
                        <div>
                            <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
                                data-success="right">{{population_size_error}}</span>
                        </div>

                        {% endif %}
                    </div>
                </div>
            {% endif %}
            

            <div class="row">
                <div class="input-field col s6">

                    <input placeholder="Generations" id="generations" name="generations" type="text" >
                    <label for="generations">Generations</label>
                </div>
                <div class="input-field col s6">

                    <input placeholder="Population Size" id="population_size" name="population_size" type="text">
                    <label for="population_size">Population Size</label>
                </div>
            </div>

            {% if zip_error %}
            <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
                data-success="right">{{zip_error}}</span>
            <br />
            {% endif %}
            <input id="zip" name="zip" type="file" class="dropify" required autofocus
                data-allowed-file-extensions="zip">
            <br />

            <div class="right-align">
                <input type="checkbox" id="early_stopping" name="early_stopping">
                <label for="early_stopping">Early Stopping</label>

            </div>

    </div>
    <div class="row">
        <button class="btn waves-effect waves-light indigo accent-2" type="submit" name="action">Submit
            <i class="material-icons right">file_upload</i>
        </button>
    </div>



</form>

<script type="text/javascript">
    $(document).ready(function () {
        $(".button-collapse").sideNav();
        $(".dropify").dropify({
            messages: {
                'default': 'Drag and drop a file here or click',
                'replace': 'Drag and drop or click to replace',
                'remove': 'Remove',
                'error': ''
            }
        }

        );
        $("p:contains('Drag and drop a file here or click')").css("text-align", "center");

    })
</script>
{% endblock %}