{% extends "layout.html" %}
{% block title %}Download Architecture{% endblock %}

{% block content %}
    <h4>
        Download Architecture
    </h4>
    <div class="col s12 m6 offset-m3 l4 offset-l4 card-panel">
        
        <p>The created archiecture has an <b>accuracy</b> of <b>{{acc}}</b> and a <b>loss</b> value of <b>{{loss}}</b>.</p>
        
        <p>The Download RAW CNN button downloads the archiecture of the created convolutional neural network in the format of a "h5" file, this "h5" file retains contains the Keras compiled model with the weights and architecture, this means that the further training of the model can be performed.</p>
        <form method="get" action= "{{ raw_download_link }}">
            <div class="right-align">
                <button class="btn waves-effect waves-light indigo accent-2" href="" type="submit">Download CNN RAW
                    <i class="material-icons right">file_download</i>
                </button>
            </div>
        </form>

        <p>The Download CNN JSON button downloads the archiecture of the created convolutional neural network in the format of a JSON file. When downloaded the archiecture will need to be trained with the data uploaded to generate the architecture.</p>
        <form method="get" action= "{{ json_download_link }}">
            <div class="right-align">
                <button class="btn waves-effect waves-light indigo accent-2" href="" type="submit">Download CNN JSON
                    <i class="material-icons right">file_download</i>
                </button>
            </div>
        </form>

        <p>Download CNN RAW Instructions button downloads a zip file containing:the convolutional neural network architecture, demonstrative python code on how to use the archiecture, and a sample image that is used for the trained architecture to use.</p>
        <form method="get" action= "{{ instructions }}">
            <div class="right-align">
                <button class="btn waves-effect waves-light indigo accent-2" href="" type="submit">Download CNN RAW Instructions
                    <i class="material-icons right">file_download</i>
                </button>
            </div>
        </form>

        <p>Download CNN JSON Instructions button downloads a zip file containing: the convolutional neural network architecture in JSON format, demonstrative python code on how train use the archiecture, and the uploaded dataset used to create the architecture used by the python script.</p>
        <form method="get" action= "{{ instructions_json }}">
            <div class="right-align">
                <button class="btn waves-effect waves-light indigo accent-2" href="" type="submit">Download CNN JSON Instructions
                    <i class="material-icons right">file_download</i>
                </button>
            </div>
        </form>

    </div>



{% endblock %}