{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<form enctype="multipart/form-data" action="{{ endpoint }}" method="post">
    <h4>
        {{ title }}
    </h4>
    <div class="col s12 m6 offset-m3 l4 offset-l4 card-panel">
        {% if email_error %}
            <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
            data-success="right">{{email_error}}</span>
        {% endif %}
        <br>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" required  placeholder="someone@email.com"
                value="" />
        <br />
        {% if zip_error %}
            <span class="helper-text" style="color: #f44336; font-size: 1rem;" data-error="wrong"
            data-success="right">{{zip_error}}</span>
            <br />
        {% endif %}
        <input id="zip" name="zip" type="file" class="dropify" required autofocus  data-allowed-file-extensions="zip">
        <br />
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light indigo accent-2" type="submit" name="action">Submit
            <i class="material-icons right">file_upload</i>
        </button>
    </div>

</form>

<script type="text/javascript">
$(document).ready(function () {
    $(".button-collapse").sideNav();
    $(".dropify").dropify({
        messages: {
            'default': 'Drag and drop a file here or click',
            'replace': 'Drag and drop or click to replace',
            'remove': 'Remove',
            'error': ''
        }
    }

    );
    $("p:contains('Drag and drop a file here or click')").css("text-align", "center");

})
</script>
{% endblock %}
