{% extends "layout.html" %}
{% block title %}Dataset Guidelines for the CNNHGAO{% endblock %}

{% block content %}
<div class="container center-align">
    <h4>
        Example Folder Structure
    </h4>
    <br>
    <img src="/static/help.png" alt="" srcset="">

    <div class="row">
          <div  class="card-panel">
            <span >As we can see above is an example of the folder structure of a dataset that could be provided to the model generator or the model predictor. The above image displays a folder structure where there are 3  classes of images denoted by "Label 1", "Label 2" and "Label 3" with the images being stored in these folders with their relative label. The parent folder denoted by "Parent Folder" should contain the three classes in this case as subfolders. The model generator and model predictor sub-systems are not limited to create CNN architectures for just 3 classes but can make CNN architectures for datasets that have 2 classes to be classified to N (being any number) classes to be classified. The framework supports PNG, JPG, PPM, TIF, or BMP images. The dataset provided to the system must also be in the format of a .zip file.
            </span>
          </div>
      </div>

</div>


{% endblock %}